{% extends 'base.html.twig' %}

{% block title %}Edit Ingredient{% endblock %}

{% block body %}
    <h1>Edit Ingredient</h1>

    {{ include('admin/ingredient/form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_ingredient_index') }}" class="btn btn-warning">back to list</a>

    {{ include('admin/ingredient/delete.html.twig') }}
{% endblock %}
